.list{
    display: flex;
    border-top: 1px solid #dfe4e8;
    cursor: pointer;
}
.list-item{
    font-size: 13px;
    font-weight: 300;
   
    width: 33.333%;
    text-align: center;
    padding: 15px 0 ;
}
.list:hover {
    background-color: #f4f6f8;
}   