* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(112, 112, 112);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

ul {
  list-style: none; /* xoa dau tron truoc*/
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.test-page {
  padding: 350px 0;
  width: auto;
  text-align: center;
}

.heading {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  color: #e7b45a;
}

.danger {
  color: red;
}