.sidebar {
  height: 100%;
  background-color: #182537;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}

.sidebar-header {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #15202c;
}

.sidebar-logo {
  flex: 1;
}
.sidebar-logo>a {
  display: block;
}

.sidebar-logo .sapo-logo {
  width: 120px;
}

.sidebar-logo_icon {}

.sidebar-container {}

.sidebar-list {}

.sidebar-list_item {
  height: 50px;
  cursor: pointer;
}
.sidebar-list_item:hover {
  background-color: #2A3A51;
}

.sidebar-list_link  {
  color: #cad6e2;
  display: flex;
  align-items: center;
  padding: 20px;
}
.sidebar-list_link1  {
  color: #cad6e2;
  display: flex;
  align-items: center;
  padding: 20px;
}

.MuiSvgIcon-root {
  width: 20px;
  fill: #cad6e2;
  margin-right: 15px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #182537;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2A3A51}

/* Show the dropdown menu on hover */
.sidebar-list_link1:hover .dropdown-content {
  display: block;
}

.sidebar-subList {
 display: none;
 transition: all 2s linear;
}
.sidebar-subList_item {
 height: 50px;
}
.sidebar-subList_item-link {
  color:#cad6e2;
  padding: 20px;
  display:block;
  padding-left: 55px;
}
.sidebar-subList_item-link:hover {
  color:#fff;
}
.active-item {
  background-color: #2A3A51;
}
.active-sub_item {
  color:#60b9e9;
}
.rorate-2 {
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
}
.rorate-0 {
  transform: rotate(0deg);
}