.footer {
   
    background-color: #fff;
    
}
.footer-container {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;

}
.footer-left {
    color: #7d8492;
    font-size: 13px;
}
.footer-right {
    color: #7d8492;
    font-size: 13px;
}