.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.login-logo{
  
    width: 150px;
    height: 150px;
    padding-top:50px ;
    vertical-align: middle
}
   

   
.form-ele{
    padding-bottom: 20px;
}
     
.input-name{
    background-image: none!important;
    border: thin solid #d3d5d7;
    border-radius: 40px;
    height: 48px;
    line-height: 1;
    color: #363636;
    font-size: .895rem;
    padding: 0 20px;
    width: 100%;
    outline: none;
    font-weight: 500;
}
    
     
.input-password{
    background-image: none!important;
    border: thin solid #d3d5d7;
    border-radius: 40px;
    height: 48px;
    line-height: 1;
    color: #363636;
    font-size: .895rem;
    padding: 0 20px;
    width: 100%;
    outline: none;
    font-weight: 500;
}

     
.input-submit{
    color: #fff;
    width: 279px;
    background: radial-gradient(100% 1111.11% at 100% 51.11%,#00d8b0 0,#00de92 100%);
    border-radius: 50px;
    border: #fff;
    display: inline-block;
    line-height: 64px;
    padding: 0 35px;
    outline: none;
    -webkit-user-select: none;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: nowrap;
    font-size: 24px;
   
}